

<ion-list>
  <ion-item>
    <ion-label>Difficulty</ion-label>
    <ion-range pin="true" [debounce]="100" [value]="settings.difficulty" (ionChange)="onDifficultyChange($event)" min="10" max="90">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100%</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>
      Grid Size
    </ion-label>
    <ion-select [value]="settings.gridSize" (ionChange)="onGridSizeChange($event)" >
      <ion-select-option [value]="5" >5</ion-select-option>
      <ion-select-option [value]="10" >10</ion-select-option>
      <ion-select-option [value]="15" >15</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>
      Limited Errors
    </ion-label>
    <ion-select [value]="settings.errorLimit" (ionChange)="onErrorLimitChange($event)" >
      <ion-select-option [value]="-1">Off</ion-select-option>
      <ion-select-option [value]="0">0</ion-select-option>
      <ion-select-option [value]="1">1</ion-select-option>
      <ion-select-option [value]="2">2</ion-select-option>
      <ion-select-option [value]="3">3</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>
      Enable Score
    </ion-label>
    <ion-toggle [checked]="settings.enableScore" (ionChange)="onEnableScoreChange($event)">

    </ion-toggle>
  </ion-item>
  <ion-button  [routerLink]="['/game']" [queryParams]="settings" expand="block">
    play
  </ion-button>

</ion-list>



