

<ion-list>
  <ion-item>
    <ion-label>Difficulty</ion-label>
    <ion-range 
      pin="true" 
      [debounce]="100" 
      [(ngModel)]="settings.difficulty" 
      min="10" 
      max="90"
    >
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100%</ion-label>
    </ion-range>
  </ion-item>
  <ion-item>
    <ion-label>
      Grid Size
    </ion-label>
    <ion-select 
      [(ngModel)]="settings.gridSize" 
    >
      <ng-container *ngFor="let val of generateGridSizeOptions()">
        <ion-select-option [value]="val" >{{val}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>
      Limited Errors
    </ion-label>
    <ion-select 
      [(ngModel)]="settings.errorLimit" 
    >
      <ion-select-option [value]="-1">Off</ion-select-option>
      <ion-select-option [value]="0">0</ion-select-option>
      <ion-select-option [value]="1">1</ion-select-option>
      <ion-select-option [value]="2">2</ion-select-option>
      <ion-select-option [value]="3">3</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>
      Enable Score
    </ion-label>
    <ion-toggle 
      [(ngModel)]="settings.enableScore" 
    >
    </ion-toggle>
  </ion-item>
  <ion-button (click)="dismissModal()" class="ion-margin" [routerLink]="['/game']" [queryParams]="settings" expand="block">
    play
  </ion-button>
</ion-list>
